body {

}
.row {
	margin: 100px 0;
}
img {
	height: 350px;
}
.movies {
    position: relative;
}
.id {
    display: inline-block;
    position: absolute;
    top: -300px;
}
.lala {
	height: 400px;
}